.root {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-bottom: 5px;
}

.boxOfButtons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  align-items: center;
}

.buttonSize {
  width: 30px;
  margin: 0 5px;
  padding: 3px;
}
