.root {
  border: 2px solid red;
  color: blueviolet;
  box-shadow: 0px 2px 4px black;
}

.root:disabled {
  background-color: #da8080;
  color: #05059a;
}

.s {
  font-size: 10px;
}

.m {
  font-size: 16px;
}

.l {
  font-size: 24px;
}
