.root {
  background-color: aquamarine;
  text-align: center;
}

.higlighted {
  color: brown;
}

.pageLink {
  margin: 10px;
  width: 100px;
}

.loginIcon {
  width: 50px;
  height: 15px;
  background-color: antiquewhite;
}
